[Unit]
Description=Monitoring Service for Water Leak Detection
After=network.target

[Service]
WorkingDirectory=/opt/werder24-monitoring/repo/server
ExecStartPre=bash create_venv.sh
ExecStart=/opt/werder24-monitoring/repo/server/venv/bin/python3 -m fastapi run server:app
Restart=always
StartLimitIntervalSec=10
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
